node_modules/
.env
dist/
build/
.DS_Store

client/node_modules/
server/node_modules/
admin-client/node_modules/

code/client/node_modules/
code/server/node_modules/
code/admin-client/node_modules/

uploads/
server/uploads/
code/server/uploads/

*.log
npm-debug.log*