DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=YOUR_PASSWORD
DB_NAME=tourismhub_lk

PORT=5000

JWT_SECRET=YOUR_SECRET
ADMIN_REGISTRATION_SECRET=YOUR_ADMIN_SECRET

GEMINI_TRANSLATION_MODEL=gemini-2.5-flash
TRANSLATION_PROVIDER=gemini

Hash_key=10

CLIENT_URL=http://localhost:5173
ADMIN_CLIENT_URL=http://localhost:5174
RECEPTION_CLIENT_URL=http://localhost:5175

ROUTING_API_KEY=YOUR_COPIED_OPENROUTESERVICE_KEY